@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Inter", sans-serif;
}
nav{
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.nav--logo{
  height: 2rem;
  width: 5rem; 
}
.cover{
  background: url(./images/cover2.jpg) no-repeat center center;
  background-size: cover;
  height: 75vh;
}

.page{
  height: 100%;
}

.btn {
  display: inline-block;
  border-radius: 12px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background: rgb(230, 152, 7);
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  width: 200px;
  font-weight: bold;
  text-transform: capitalize;
}


.food--card{
 box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.selection{
  display: inline-block;
  border-radius: 12px;
  margin: 4px;
  background: rgb(230, 152, 7);
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 308px) {
  nav .img{
   
  }
}